<div class="jumbotron">
    <h1>Recipes</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <input type="text" id="searchText" class="form-control" placeholder="Search for recipes...">
                <div class="input-group-append">
                    <button id="btnSearch" class="btn btn-primary" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Search Results</h4>
                </div>
                <div class="card-body">
                    <ul id="searchResults" class="list-group">
                        <!-- Search results will be displayed here -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8" id="recipeDetails">
            <!-- Recipe details will be displayed here -->
            <h2 id="recipeTitle"></h2>
            <div>Units: <span id="servingQuantity"></span> <span id="servingMeasure"></span></div>
            <ul class="list-group" id="ingredients">
                <!-- Ingredients will be displayed here -->
            </ul>
            <div id="directions"></div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function loadRecipe(id) {
            $.ajax({
                url: '/api/recipe/' + id,
                type: 'GET',
                success: function (result) {
                    // Check if there are any results
                    if (result) {
                        $('#recipeTitle').text(result.title);
                        $('#servingQuantity').text(result.servingQuantity);
                        $('#servingMeasure').text(result.servingMeasure);
                        $('#directions').html(result.directions);

                        $('#ingredients').empty();
                        $.each(result.ingredients, function (_, ingredient) {
                            $('#ingredients').append('<li>' + ingredient.units + ' ' + ingredient.unitType + ' ' + ingredient.description + '</li>');
                        });
                    }
                }
            });

        }
        $(document).ready(function () {
            $('#btnSearch').on('click', function () {
                var searchText = $('#searchText').val();
                // call the /api/recipe/search endpoint passing the searchtext
                if (!searchText) {
                    return;
                }

                // Show loading indicator
                $('#searchResults').html('<li class="list-group-item">Searching...</li>');

                $.ajax({
                    url: '/api/recipe/search',
                    type: 'GET',
                    data: { searchString: searchText },
                    success: function (results) {
                        // Clear the search results
                        $('#searchResults').empty();

                        // Check if there are any results
                        if (results && results.length > 0) {
                            // Iterate over the results and add them as list items
                            $.each(results, function (index, recipeTitle) {
                                $('#searchResults').append(
                                    '<li class="list-group" onclick="loadRecipe(' + recipeTitle.id + ');">' + recipeTitle.title + '</li>'
                                );
                            });
                        }
                    }
                });
            });
        });
    </script>
}